<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bulbqt-msvc-x64" version="5.12.4.10787" targetFramework="native" />
  <package id="bulbqt-msvc-x86" version="5.12.4.10787" targetFramework="native" />
  <package id="flac-msvc-x64" version="1.3.2.8787" targetFramework="native" />
  <package id="flac-msvc-x86" version="1.3.2.8787" targetFramework="native" />
  <package id="gsl-msvc-x64" version="2.4.0.8788" targetFramework="native" />
  <package id="gsl-msvc-x86" version="2.4.0.8788" targetFramework="native" />
  <package id="jom-nug" version="1.1.2.777" targetFramework="native" />
  <package id="libjpeg-msvc-x64" version="9.1.0.8807" targetFramework="native" />
  <package id="libjpeg-msvc-x86" version="9.1.0.8807" targetFramework="native" />
  <package id="libpng-msvc-x64" version="1.6.33.8807" targetFramework="native" />
  <package id="libpng-msvc-x86" version="1.6.33.8807" targetFramework="native" />
  <package id="libsndfile-msvc-x64" version="1.0.27.9902" targetFramework="native" />
  <package id="libsndfile-msvc-x86" version="1.0.27.9902" targetFramework="native" />
  <package id="libtiff-msvc-x64" version="4.0.7.8808" targetFramework="native" />
  <package id="libtiff-msvc-x86" version="4.0.7.8808" targetFramework="native" />
  <package id="lzo-msvc-x64" version="2.10.0.8807" targetFramework="native" />
  <package id="lzo-msvc-x86" version="2.10.0.8807" targetFramework="native" />
  <package id="Microsoft.Gsl" version="0.1.2.1" targetFramework="native" />
  <package id="ogg-msvc-x64" version="1.3.2.8787" targetFramework="native" />
  <package id="ogg-msvc-x86" version="1.3.2.8787" targetFramework="native" />
  <package id="opencl-nug" version="0.777.77" targetFramework="native" />
  <package id="openexr-msvc-x64" version="2.3.0.8788" targetFramework="native" />
  <package id="openexr-msvc-x86" version="2.3.0.8788" targetFramework="native" />
  <package id="vorbis-msvc-x64" version="1.3.5.8787" targetFramework="native" />
  <package id="vorbis-msvc-x86" version="1.3.5.8787" targetFramework="native" />
  <package id="zlib-msvc-x64" version="1.2.11.8900" targetFramework="native" />
  <package id="zlib-msvc-x86" version="1.2.11.8900" targetFramework="native" />
</packages>