<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bulbqt-msvc14-x64" version="5.8.0.10782" targetFramework="native" />
  <package id="bulbqt-msvc14-x86" version="5.8.0.10782" targetFramework="native" />
  <package id="flac-msvc14-x64" version="1.3.2.7783" targetFramework="native" />
  <package id="flac-msvc14-x86" version="1.3.2.7783" targetFramework="native" />
  <package id="gsl-msvc14-x64" version="2.3.0.2779" targetFramework="native" />
  <package id="gsl-msvc14-x86" version="2.3.0.2779" targetFramework="native" />
  <package id="jom-nug" version="1.1.2.777" targetFramework="native" />
  <package id="KNC-Nug-icc171-k1om-mpss38-1" version="0.778.6" targetFramework="native" />
  <package id="libjpeg-msvc14-x64" version="9.1.0.7796" targetFramework="native" />
  <package id="libjpeg-msvc14-x86" version="9.1.0.7796" targetFramework="native" />
  <package id="libpng-msvc14-x64" version="1.6.29.7801" targetFramework="native" />
  <package id="libpng-msvc14-x86" version="1.6.29.7801" targetFramework="native" />
  <package id="libsndfile-msvc14-x64" version="1.0.27.7788" targetFramework="native" />
  <package id="libsndfile-msvc14-x86" version="1.0.27.7788" targetFramework="native" />
  <package id="libtiff-msvc14-x64" version="4.0.7.7799" targetFramework="native" />
  <package id="libtiff-msvc14-x86" version="4.0.7.7799" targetFramework="native" />
  <package id="lzo-msvc14-x64" version="2.10.0.7802" targetFramework="native" />
  <package id="lzo-msvc14-x86" version="2.10.0.7802" targetFramework="native" />
  <package id="Microsoft.CppCoreCheck" version="14.0.24210.1" targetFramework="native" />
  <package id="Microsoft.Gsl" version="0.1.2.1" targetFramework="native" />
  <package id="ogg-msvc14-x64" version="1.3.2.7783" targetFramework="native" />
  <package id="ogg-msvc14-x86" version="1.3.2.7783" targetFramework="native" />
  <package id="openexr-msvc14-x64" version="2.2.0.7783" targetFramework="native" />
  <package id="openexr-msvc14-x86" version="2.2.0.7783" targetFramework="native" />
  <package id="vorbis-msvc14-x64" version="1.3.5.7785" targetFramework="native" />
  <package id="vorbis-msvc14-x86" version="1.3.5.7785" targetFramework="native" />
  <package id="zlib-msvc14-x64" version="1.2.11.7795" targetFramework="native" />
  <package id="zlib-msvc14-x86" version="1.2.11.7795" targetFramework="native" />
</packages>