<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bulbqt-msvc14-x64" version="5.7.0.10477" targetFramework="native" />
  <package id="gsl-msvc14-x64" version="2.3.0.2778" targetFramework="native" />
  <package id="libjpeg" version="9.2.0.1" targetFramework="native" />
  <package id="libjpeg.redist" version="9.2.0.1" targetFramework="native" />
  <package id="libpng" version="1.6.26.1" targetFramework="native" />
  <package id="libpng.redist" version="1.6.26.1" targetFramework="native" />
  <package id="libtiff" version="4.0.6.2" targetFramework="native" />
  <package id="libtiff.redist" version="4.0.6.2" targetFramework="native" />
  <package id="openexr-msvc14-x64" version="2.2.0.7778" targetFramework="native" />
  <package id="zlib" version="1.2.8.8" targetFramework="native" />
  <package id="zlib.v120.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
  <package id="zlib.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
</packages>